<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
<div class="clear"></div>


<%provide(:title, "All Patients")%>
<h1> All Patients </h1>
<%= link_to 'New Patient', new_patient_path(), :class => "btn btn-primary" %>

<%= will_paginate %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Patient Name</th>
      <th scope="col">Priority</th>
      <th scope="col">Appointment Status</th>
      <th scope="col">Predicted Time</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @patients %>
  </tbody>
</table>

<%= will_paginate %>
